@import "./../vars";
@import "./../mixin";

.main {
    background-image: url("./../assets/images/mainBg.png");
    background-size: cover;
    background-position: center;
    height: 850px;
    padding: 203px 0;
    color: $textColor;
    @include media (md) {
        padding: 150px 0;
    }
    .main__container {
        @extend %container;
        .main__title {
            @include text (48px, 700, 58px);
            text-transform: uppercase;
            max-width: 780px;
            margin-bottom: 80px;
            span {
                color: $primaryColor;
            }
            @include media (md) {
                @include text (40px, 700, 50px);
            }
            @include media (sm) {
                @include text (30px, 700, 40px);
            }
            @include media (xs) {
                @include text (25px, 700, 35px);
                margin-bottom: 60px;
            }
        }
        .main__description {
            .main__text {
                @include text(20px, 700, 24px); 
                margin-bottom: 10px;
            }
            .main__list {
                margin-bottom: 80px;
                li {
                    position: relative;
                    padding-left: 25px;
                    @include text(20px, 400, 30px); 
                    &::before {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 1.5px;
                        background-color: #000;
                        position: absolute;
                        left: 10px;
                        top: 50%;
                    }
                }
            }
        }
        .main__buttons {
            display: flex;
            @include text(13px, 400, 16px); 
            .main__btn-primary {
                @include btnMain($primaryColor, $secondaryColor, $secondaryColor); 
                margin-right: 30px;
            }
            .main__btn-secondary {
                @include btnMain($secondaryColor, $accentColor, $textColor); 
            }
        }
    }
}