// Colors
$primaryColor: #3E9CDC;
$secondaryColor: #FFFFFF;
$accentColor: #3D4050;
$bgcolor: #272733;
$textColor: #000000;
$textColorLight: #FFFFFF;

// Contaier 
%container { 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// Breakpoints
$breakpoints: (
    xs: 420px,
    sm: 576px,
    md: 768px,
    lg: 1280px,
    xl: 1440px,
)