@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@800&display=swap");
.footer .footer__container, .order .order__container, .main .main__container, .header .header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #fff;
  overflow-x: hidden;
  background: #272733;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  display: block;
}

.footer .footer__container, .order .order__container, .main .main__container, .header .header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: rgba(16, 16, 29, 0.9);
  height: 100px;
  display: flex;
  text-transform: uppercase;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .burger {
  position: absolute;
  right: 46px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: -99;
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 767px) {
  .header .header__container .burger {
    z-index: 99;
    pointer-events: all;
    opacity: 1;
  }
}
.header .header__container .burger span, .header .header__container .burger span:before, .header .header__container .burger span:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}
.header .header__container .burger span:before {
  content: "";
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header .header__container .burger span {
  top: 10px;
}
.header .header__container .burger span:after {
  content: "";
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header .header__container .burger span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header .header__container .burger span.active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header .header__container .burger span.active {
  background: transparent;
}
.header .header__container .header__logo {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}
@media (max-width: 575px) {
  .header .header__container .header__logo {
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
  }
}
.header .header__container .header__logo span {
  color: #3E9CDC;
}
.header .header__container .header__menu {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}
@media (max-width: 767px) {
  .header .header__container .header__menu {
    width: 100vw;
    height: 100vh;
    background: rgb(16, 16, 29);
    position: absolute;
    left: 0px;
    top: -20px;
    padding: 20%;
    -webkit-transform: translatex(200%);
    -ms-transform: translatex(200%);
    transform: translatex(200%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
  }
  .header .header__container .header__menu.active {
    -webkit-transform: translatex(0);
    -ms-transform: translatex(0);
    transform: translatex(0);
  }
}
.header .header__container .header__menu .header__nav .menu__nav-list {
  display: flex;
}
@media (max-width: 767px) {
  .header .header__container .header__menu .header__nav .menu__nav-list {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header .header__container .header__menu .header__nav .menu__nav-list .menu__nav-item {
  margin-right: 60px;
  transition: transform 0.25s;
}
.header .header__container .header__menu .header__nav .menu__nav-list .menu__nav-item:hover {
  transform: scale(1.3);
}
@media (max-width: 767px) {
  .header .header__container .header__menu .header__nav .menu__nav-list .menu__nav-item {
    margin-right: 0;
  }
}
.header .header__container .header__menu .header__nav .menu__nav-list .menu__nav-item:last-child {
  margin-right: 0;
}
.header .header__container .header__menu .header__nav .menu__nav-list .menu__nav-item .menu__nav-link.active {
  color: #3E9CDC;
}

.footer .footer__container, .order .order__container, .main .main__container, .header .header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  background-image: url("./../assets/images/mainBg.png");
  background-size: cover;
  background-position: center;
  height: 850px;
  padding: 203px 0;
  color: #000000;
}
@media (max-width: 767px) {
  .main {
    padding: 150px 0;
  }
}
.main .main__container .main__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 780px;
  margin-bottom: 80px;
}
.main .main__container .main__title span {
  color: #3E9CDC;
}
@media (max-width: 767px) {
  .main .main__container .main__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .main .main__container .main__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
}
@media (max-width: 419px) {
  .main .main__container .main__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 60px;
  }
}
.main .main__container .main__description .main__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.main .main__container .main__description .main__list {
  margin-bottom: 80px;
}
.main .main__container .main__description .main__list li {
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.main .main__container .main__description .main__list li::before {
  content: "";
  display: block;
  width: 5px;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  left: 10px;
  top: 50%;
}
.main .main__container .main__buttons {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.main .main__container .main__buttons .main__btn-primary {
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px 10px;
  width: 185px;
  border-radius: 4px;
  transition: transform 0.3s;
  margin-right: 30px;
}
.main .main__container .main__buttons .main__btn-primary:hover {
  transform: scale(1.15);
}
.main .main__container .main__buttons .main__btn-secondary {
  background: #FFFFFF;
  border: 1px solid #3D4050;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px 10px;
  width: 185px;
  border-radius: 4px;
  transition: transform 0.3s;
}
.main .main__container .main__buttons .main__btn-secondary:hover {
  transform: scale(1.15);
}

.footer .footer__container, .order .order__container, .header .header__container, .main .main__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.order {
  background-image: url("./../assets/images/orderBg.png");
  background-size: cover;
  background-position: center;
  padding: 125px 0 140px 0;
  color: #FFFFFF;
}
@media (max-width: 575px) {
  .order {
    padding: 100px 0;
  }
}
.order .order__container .order__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .order .order__container .order__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .order .order__container .order__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
}
@media (max-width: 419px) {
  .order .order__container .order__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
  }
}
.order .order__container .order__title span {
  color: #3E9CDC;
}
.order .order__container .order__scheme .scheme__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 575px) {
  .order .order__container .order__scheme .scheme__title {
    margin-bottom: 40px;
  }
}
.order .order__container .order__scheme .scheme__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .order .order__container .order__scheme .scheme__list {
    margin-bottom: 40px;
  }
}
.order .order__container .order__scheme .scheme__list .scheme__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 210px;
  position: relative;
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list .scheme__item {
    max-width: 160px;
  }
}
.order .order__container .order__scheme .scheme__list .scheme__item:last-child .scheme__item-bg::after {
  display: none;
}
.order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3E9CDC;
  border: 5px solid #286690;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg {
    width: 80px;
    height: 80px;
  }
}
.order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg::after {
  content: "";
  display: block;
  width: 110px;
  height: 6px;
  background: url("./../assets/images/circle.png");
  position: absolute;
  top: 30%;
  left: 82%;
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg::after {
    display: none;
  }
}
.order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg .scheme__items-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 1279px) {
  .order .order__container .order__scheme .scheme__list .scheme__item .scheme__item-bg .scheme__items-icon {
    width: 30px;
    height: 30px;
  }
}
.order .order__container .order__form .rec {
  font-size: 12px;
  color: #272733;
}
.order .order__container .order__form .required.error + .rec {
  font-size: 12px;
  color: brown;
}
.order .order__container .order__form input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 13px;
  border: transparent;
  background-color: transparent;
}
.order .order__container .order__form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form .form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767px) {
  .order .order__container .order__form .form__body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.order .order__container .order__form .form__body .form__item {
  width: 370px;
  height: 48px;
  left: 1176px;
  top: 1388.37px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
@media (max-width: 1279px) {
  .order .order__container .order__form .form__body .form__item {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .order .order__container .order__form .form__body .form__item {
    width: 80%;
  }
}
.order .order__container .order__form .form__body .form__item .dropdown {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.order .order__container .order__form .form__body .form__item .dropdown ::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background: #3E9CDC;
}
.order .order__container .order__form .form__body .form__item .dropdown ::-webkit-scrollbar-track {
  background: #3D4050;
}
.order .order__container .order__form .form__body .form__item .dropdown ::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 20px;
  border: 1px solid #3E9CDC;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: transparent;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #272733;
  cursor: pointer;
  padding-left: 20px;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__button:focus {
  outline: none;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__button--active {
  outline: none;
  background-color: #3D4050;
  color: #FFFFFF;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__button--active::after {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(103%) contrast(101%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(103%) contrast(101%);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__list {
  display: none;
  background-color: #272733;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0.5px solid;
  border-top: transparent;
  border-radius: 0 0 6px 6px;
  width: 100%;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__list--visible {
  display: block;
  max-height: 200px;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__list-item:hover {
  color: #3E9CDC;
}
.order .order__container .order__form .form__body .form__item .dropdown .dropdown__input-hidden {
  display: none;
}
.order .order__container .order__form .form__body .form__item-range {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: transparent;
  border: transparent;
  border-radius: 0;
}
@media (max-width: 767px) {
  .order .order__container .order__form .form__body .form__item-range {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 767px) {
  .order .order__container .order__form .form__body .form__item-range {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.order .order__container .order__form .form__body .form__item-range input[type=range] {
  border-radius: 0.75em;
  position: relative;
  height: 10px;
  border: 3px solid #fff;
  display: block;
  padding: 0 0.1em;
  width: 100%;
  background: #cecece;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.order .order__container .order__form .form__body .form__item-rangeinput[type=range]:focus {
  outline: transparent;
}
.order .order__container .order__form .form__body .form__item-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
}
.order .order__container .order__form .form__body .form__item-range input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
}
.order .order__container .order__form .form__body .form__item-range input[type=range]::-ms-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
}
.order .order__container .order__form .form__body .form__item-range .form__range-wrapper {
  position: relative;
}
.order .order__container .order__form .form__body .form__item-range .form__range-wrapper .data-range {
  position: absolute;
  bottom: 30px;
  right: 0;
}
.order .order__container .order__form .form__body .form__item-range .form__range-wrapper .form__range-leble {
  margin-bottom: 20px;
}
.order .order__container .order__form .form__body .form__file {
  position: relative;
}
.order .order__container .order__form .form__body .form__file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.order .order__container .order__form .form__body .form__file .form__file-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 0 0 0 13px;
  border: transparent;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order .order__container .order__form .form__body .form__file .form__file-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21' fill='none'%3E%3Cpath d='M16.8125 4.60899L13.3304 1.12685C12.9174 0.713902 12.0915 0.36792 11.5 0.36792H1.50002C0.9085 0.36792 0.428589 0.847831 0.428589 1.43935V19.2965C0.428589 19.888 0.9085 20.3679 1.50002 20.3679H16.5C17.0915 20.3679 17.5714 19.888 17.5714 19.2965V6.43935C17.5714 5.84783 17.2255 5.02194 16.8125 4.60899ZM11.8572 1.88578C12.0469 1.95274 12.2366 2.05319 12.3148 2.13131L15.8081 5.62462C15.8862 5.70274 15.9866 5.89247 16.0536 6.08221H11.8572V1.88578ZM16.1429 18.9394H1.85716V1.79649H10.4286V6.43935C10.4286 7.03087 10.9085 7.51078 11.5 7.51078H16.1429V18.9394ZM4.7143 9.29649V10.0108C4.7143 10.2117 4.87055 10.3679 5.07145 10.3679H12.9286C13.1295 10.3679 13.2857 10.2117 13.2857 10.0108V9.29649C13.2857 9.0956 13.1295 8.93935 12.9286 8.93935H5.07145C4.87055 8.93935 4.7143 9.0956 4.7143 9.29649ZM12.9286 11.7965H5.07145C4.87055 11.7965 4.7143 11.9527 4.7143 12.1536V12.8679C4.7143 13.0688 4.87055 13.2251 5.07145 13.2251H12.9286C13.1295 13.2251 13.2857 13.0688 13.2857 12.8679V12.1536C13.2857 11.9527 13.1295 11.7965 12.9286 11.7965ZM12.9286 14.6536H5.07145C4.87055 14.6536 4.7143 14.8099 4.7143 15.0108V15.7251C4.7143 15.926 4.87055 16.0822 5.07145 16.0822H12.9286C13.1295 16.0822 13.2857 15.926 13.2857 15.7251V15.0108C13.2857 14.8099 13.1295 14.6536 12.9286 14.6536Z' fill='%23000'/%3E%3C/svg%3E");
}
.order .order__container .order__form .form__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order .order__container .order__form .form__btn .btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1;
  flex: 0 0 1;
  margin: 30px auto 0;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px 10px;
  width: 185px;
  border-radius: 4px;
  transition: transform 0.3s;
  width: 370px;
  height: 48px;
}
.order .order__container .order__form .form__btn .btn:hover {
  transform: scale(1.15);
}
@media (max-width: 767px) {
  .order .order__container .order__form .form__btn .btn {
    width: 80%;
  }
}

.footer .footer__container, .header .header__container, .main .main__container, .order .order__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  height: 80px;
  background-color: #3D4050;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
}
@media (max-width: 575px) {
  .footer {
    height: 150px;
    padding: 15px 0 25px 0;
  }
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575px) {
  .footer .footer__container {
    flex-direction: column;
  }
}
.footer .footer__container .footer__copyright {
  max-width: 280px;
}
@media (max-width: 575px) {
  .footer .footer__container .footer__copyright {
    max-width: 300px;
  }
}
.footer .footer__container .footer__payment .footer__payment-list {
  display: flex;
}
.footer .footer__container .footer__payment .footer__payment-list .footer__payment-item {
  margin-right: 38px;
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .footer .footer__container .footer__payment .footer__payment-list .footer__payment-item:last-child {
    margin-right: 0;
  }
}
.footer .footer__container .footer__payment .footer__payment-list .footer__payment-item .footer__payment-icon {
  height: 20px;
  width: 20px;
  fill: #3E9CDC;
  margin-right: 10px;
}
@media (max-width: 1279px) {
  .footer .footer__container .footer__payment .footer__payment-list .footer__payment-item span {
    display: none;
  }
}
.footer .footer__container .footer__info .footer__info-list {
  display: flex;
}
.footer .footer__container .footer__info .footer__info-list .footer__info-item {
  margin-right: 42px;
}
@media (max-width: 575px) {
  .footer .footer__container .footer__info .footer__info-list .footer__info-item:last-child {
    margin-right: 0;
  }
}
.footer .footer__container .footer__info .footer__info-list .footer__info-link {
  display: flex;
  align-items: center;
  transition: transform 0.25s;
}
.footer .footer__container .footer__info .footer__info-list .footer__info-link:hover {
  transform: scale(1.3);
}
.footer .footer__container .footer__info .footer__info-list .footer__info-link .footer__info-icon {
  height: 20px;
  width: 20px;
  fill: #3E9CDC;
  margin-right: 10px;
}
@media (max-width: 1279px) {
  .footer .footer__container .footer__info .footer__info-list .footer__info-link span {
    display: none;
  }
}

.pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 99999999;
  overflow-x: hidden;
  overflow-y: auto;
}
.pop-up.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.pop-up.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.308);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.pop-up .pop-up-inner {
  width: 250px;
  height: 250px;
  background-color: #3E9CDC;
  border: 1px solid #3E9CDC;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */